{erl_opts, [debug_info, fail_on_warning]}.
%{require_otp_vsn, "R14"}.
{deps_dir, ["deps"]}.

{deps, [{cowboy,   ".*",     {git, "git://github.com/extend/cowboy.git", "master"}},
        {jsx,      ".*",     {git, "git://github.com/spawnfest/jsx.git", "master"}},
        {lager,    ".*",     {git, "git://github.com/basho/lager.git",   "master"}}
]}.
