{erl_opts, [debug_info, fail_on_warning,
            {parse_transform, lager_transform }]}.

{require_otp_vsn, "R16"}.
{deps_dir, ["deps"]}.

{deps, [
        {lager,    ".*",     {git, "git://github.com/basho/lager.git",   "master"}},
        {cowboy,   ".*",     {git, "git://github.com/extend/cowboy.git", "master"}},
        {jsx,      ".*",     {git, "git://github.com/spawnfest/jsx.git", "master"}}
]}.
