{erl_opts, [debug_info]}. %, fail_on_warning]}.

{require_otp_vsn, "R14"}.

{deps_dir, ["deps"]}.

{deps, [
        {cowboy,   ".*",        {git, "https://github.com/yuzhaoren/cowboy.git", {branch, "master"}}},
        {jsx,   ".*",        {git, "https://github.com/spawnfest/jsx.git", {branch, "beamspirit"}}}
]}.
