body {
  font-family: Consolas, "Droid Sans Mono", Monaco, Courier, monospace;
  font-size: 12px;
  letter-spacing: 1px;
  margin:0;
  padding:0;
}
._tpl {
  display: none;
  visibility: hidden;
}
#header {
  border-bottom: 8px solid #eee;
  background: #0b3e77;
  position: relative;
}
h1 {
  color: white;
  margin:0;
  padding:0.2em 0.4em;
}
#attrib {
  color: white;
  float: right;
  top: -1.5em;
  right: 1em;
  position: relative;
}
#attrib a {
  color: white;
}
ul#tools {
  list-style: none;
  margin:0;
  padding:0;
}
ul#tools li {
  margin:0 0 0.2em 0;
  padding:0;
}
#tools a.tool {
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  margin: 0;
  padding: 0.1em 0.3em 0.2em 0.3em;
  color: white;
  background-color: #396cac;
  background-image: url(/static/images/arrow_right.gif);
  background-position: center right;
  background-repeat: no-repeat;
}
#tools a.tool:hover,
#tools a.tool.current {
  font-weight: normal;
  background-color: #3b8a20;
}
#main .tool {
  display: none;
}
#main .tool.active {
  display: block !important;
}

#side {
  display: block;
  width: 15%;
  height: 100%;
  background: #eee;
  border-right: 1px solid #ccc;
  position: absolute;
}
#system_info {
  margin: 0.8em;
}
dl {
  margin: 0;
  padding: 0;
}
dt {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0.7em;
}
dd {
  display: block;
  margin: -0.2em 0 0 0;
  padding: 0;
  color: #444;
  text-align: right;
}
#main {
  border-left: 1px solid white;
  border-top: 1px solid #ccc;
  margin-left: 15%;
  padding: 1em;
}

ul.menu {
  list-style: none;
  margin:-1em -1em 0 -1em;
  padding:0 0 0.2em 0.3em;
  background: #396cac;
}
ul.menu li {
  display: inline;
}
ul.menu li a {
  color: white;
  display: inline-block;
  padding: 0.3em 0.5em 0.2em 0.5em;
}

#applications ul {
  margin:0;
  padding:0;
  list-style: none;
}
#applications li {
  padding: 0;
}
#applications li a {
  border-style: solid;
  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0.4em;
  border-color: transparent;
  display: block;
  padding: 0.4em 0.4em;
  text-decoration: none;
  color: blue;
}
#applications li .name {
  font-size: 1.1em;
}
#applications li .version {
  font-size: 0.8em;
  color: #999;
}
#applications li p.description {
  font-size: 0.9em;
  color: #777;
  margin: 0;
}
#applications li a:hover {
  background: #ccc;
  border-color: #999;
  border-left-color: #3b8a20;
  color: #3b8a20;
}


.sort {
  color: blue;
}

#report {
  list-style: none;
  margin: 0 -1em 0 -1em;
  padding:0;
}
#report li.report {
  margin:0.2em 0 0.2em 0;
  padding:0.2em 1em 0.2em 1em;
  color: #444;
  border-bottom: 1px solid #ccc;
}
#report li.report:hover {
  color: #000;
}

li.info, li.error, li.warning {
  display: none;
}
.all li,
.info li.info,
.error li.error,
.warning li.warning {
  display: block !important;
}

.current {
  font-weight: bold;
}

.report .info {
  display: none;
}
#report .selected .info {
  display: block !important;
}
.report .data {
  margin: 0.5em;
  border: 1px solid #ccc;
  padding: 0.5em 1em;
}
.report .date {
  float: right;
}

.label {
  font-weight: bold;
}
/**
 * report types
 */
.report .started,
.report .application_start
{
  display: none;
}
.report.started .started,
.report.application_start .application_start
{
  display: block !important;
}

#nodestats,
#topstats {
  margin: 0.8em;
}

#stats td {
  text-align: left;
  height:16px;
  font-size: 12px;
  margin:0;
  padding-top:1px;
  padding-bottom:1px;
}
#stats td:first-child {
  text-align: right;
  font-weight: normal;
}

