#appmon-graph {
    position: relative;
    width: 1024;
    height: 768;
    margin: auto;
    overflow: hidden;
}

.app-name,
.app-version,
.registered-name,
.pid-ic,
.pid-cf,
.pid {
    display: block;
}

#appmon-graph-label div.node {
    height: 50px;
    width: 97px;
    cursor: pointer;
    color: #000;
    font-size: 0.8em;
    text-align: center;
    padding: 5px 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.inbox {
    font-family: arial unicode ms, sans-serif;
    font-size: 14px;
    padding-left: 2px;
}

.messages {
    display: block;
    position: absolute;
    bottom: 1px;
    right: 6px;
    height: 18px;
}

.process {
    border: 1px solid #0ff;
}

.port {
    border: 1px dotted #ff0;
}

.supervisor {
    border: 2px solid #f00;
}

.named {
    border: 2px solid #00f;
}

h1 {
    color: #000;
}
