body {
  font-family: Consolas, "Droid Sans Mono", Monaco, Courier, monospace;
  font-size: 12px;
  letter-spacing: 1px;
}
._tpl {
  display: none;
  visibility: none;
}

.sort {
  color: blue;
}
.current {
  font-weight: bold;
}

#apps .name {
}
#apps .description {
  color: #888;
}
